# Node modules
node_modules/

# Build outputs
dist/
build/

# Environment vars
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/

admin-scripts/googleServiceAccount.json

firebaseServiceAccount.json